@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons {
  font-size: 16px;
  cursor: pointer;
  color: gray;
}

.icon-action {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  gap: 5px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 500px;
}

.post-button {
  color: white;
  background-color: rgb(97, 97, 171);
  padding: 5px;
  border: 1px solid transparent;
  font-weight: 600;
  cursor: pointer;
}

.post-link {
  text-decoration: none;
  color: white;
  background-color: rgb(97, 97, 171);
  font-weight: 600;
  padding: 1px 5px 5px;
}

.delete-button {
  background-color: rgb(158, 55, 55);
  margin-left: 5px;
}

.post, .new-post {
  border: 3px solid lightgray;
}

.post-group {
  font-weight: 600;
  color: gray;
  font-size: 14px;
  margin-left: 5px;
}

.post-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 50px;
  padding: 0 10px;
  background-color: rgb(250, 248, 248);
}

input {
  width: 270px;
  background-color: rgb(250, 248, 248);
  border: 1px solid transparent;
  padding: 10px;
}

.new-post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid lightgray;
}

.new-post-main {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: end;
}

textarea {
  resize: none;
  width: 350px;
  padding: 5px;
  border: 1px solid transparent;
}

.new-post-footer {
  text-align: right;
  padding: 10px;
  border-top: 1px solid lightgray;
  background-color: rgb(250, 248, 248);
}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(250, 248, 248);
  border-bottom: 1px solid lightgray;
}

.edit-actions {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
}

.edit-action {
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(250, 248, 248);
  border-radius: 50px;
  width: calc((100% - 5px)/2);
}